.nav_bar {
  direction: rtl;
  order: 2;
  background-color: #373995;
  justify-content: space-between;
  width: 100vw;
  margin: 0px -15px 0px -10px;
  color: white;
  white-space: nowrap;
  padding-left: 4%;
  padding-right: 4%;
}

.logo_link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile_button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.symbol_cross {
  display: none;
}

.nav_menu {
  display: none;
  overflow: hidden;
}

.nav_menu ul {
  padding: 0;
  margin: 0;
  justify-content: space-between;
  list-style-type: none;
  width: inherit;
}
.nav_menu li {
  perspective: 800px;
  position: relative;
}

.sub-menu {
  display: none;
}

.nav_menu ul li a {
  text-decoration: none;
  display: flex;
  color: white;
  padding: 0.6em 1em;
  flex-direction: row;
  justify-content: space-between;
}

.nav_menu ul li a span,
.nav_menu ul ul li a span {
  padding-right: 20px;
}

.dropdown-toggle {
  margin: 0;
  padding: 0 0.5em;
  border: 0;
  font-family: "FontAwesome";
  content: "";
  text-transform: lowercase; /* Stop screen readers to read the text as capital letters  */
  background-color: transparent;
}

.dropdown-toggle:after {
  top: 0;
  left: 0;
  width: 42px;
  color: white;
  content: "\f107";
  line-height: 1em;
}

.sub-menu {
  background-color: white;
}

.toggled-on {
  display: flex;
}

.nav_menu ul ul li a {
  color: black;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

@keyframes oxy-menu-moveup {
  from {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.dropdown-toggle.toggled-on:after {
  content: "\f106";
}

.symbol_cross.menu_toggled {
  display: block;
}

.symbol_menu.menu_toggled {
  display: none;
}

.nav_menu.menu_toggled {
  width: inherit;
  direction: rtl;
  display: flex;
}

.nav_menu ul li a:hover {
  background: hsl(59, 96%, 45%);
  color: black;
}
.sub-menu ul ul li a:hover {
  background: hsl(59, 96%, 45%);
  color: black;
}

@media (min-width: 750px) {

  .logo_link {
    width: 15%;
  }

  .nav_bar {
    max-height: 51px;
    flex-wrap: nowrap;
    padding-left: auto;
    padding-right: auto;
  }

  .mobile_button {
    display: none;
  }

  .nav_menu {
    display: block;
    margin: auto;
  }
  .nav_menu li {
    max-width: 155px;
  }

  /* .logo_link {
    display: flex;
    margin: auto;
  } */

  .nav_menu > ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style-type: none;
    width: inherit;
  }

  .nav_menu ul li.has-children {
    z-index: 1;
  }

  .nav_menu ul li a span,
  .nav_menu ul ul li a span {
    padding-right: 0px;
    display: inline-block;
    margin: auto;
  }
  .sub-menu {
    opacity: 0;
    transform: rotateX(-90deg);
  }

  /* li:hover ul {
    transform-origin: top;
    animation: oxy-menu-moveup 0.5s ease-in-out forwards;
    /* animation-name: oxy-menu-moveup;
    animation-duration: 0.5s; 
  } 
  */

  .toggled-on {
    transform-origin: top;
    animation: oxy-menu-moveup 0.5s ease-in-out forwards;
  }

  /* .nav_menu.menu_toggled {
    width: inherit;
  } */

}

@media (max-width: 327px) {
  .nav_bar {
    justify-content: center;
  }
  .logo_link {
    width: auto;
  }
}
