.nav_bar {
  order: 2;
  display: flex;
  flex-wrap: wrap;
  background-color: #373995;
  justify-content: space-around;
  width: 100vw;
  margin: 0px -15px 0px -10px;
  color: white;
}

.logo_link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile_button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.symbol_cross {
  display: none;
}

.nav_menu {
  display: none;
}

.nav_menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  width: inherit;
}

.nav_menu ul li a {
  text-decoration: none;
  display: flex;
  color: white;
  padding: 0.6em 1em;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown-toggle {
  margin: 0;
  padding: 0 0.5em;
  border: 0;
  font-family: "FontAwesome";
  content: "";
  text-transform: lowercase; /* Stop screen readers to read the text as capital letters  */
  background-color: transparent;
}

.dropdown-toggle:after {
  top: 0;
  left: 0;
  width: 42px;
  color: white;
  content: "\f107";
  line-height: 1em;
}

.nav_menu ul ul {
  background-color: white;
  display: none;
}

.nav_menu ul ul li a {
  color: black;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.nav_menu ul .toggled-on {
  display: block;
}

.dropdown-toggle.toggled-on:after {
  content: "\f106";
}

.symbol_cross.menu_toggled {
  display: block;
}

.symbol_menu.menu_toggled {
  display: none;
}

.nav_menu.menu_toggled {
  width: inherit; 
  direction: rtl;
  display: flex;
}

.nav_menu ul li a:hover {
  background: hsl(59, 96%, 45%);
  color: black;
}
.sub-menu ul ul li a:hover {
  background: hsl(59, 96%, 45%);
  color: black;
}
