.posts_list {
  margin-top: 15px;
  direction: rtl;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
  gap: 15px 10px;
}

.post {
  overflow: hidden;
  margin: 0 auto;
}

.post_thumbnail {
  width: 100%;
}

.post_thumbnail a {
  display: block;
  text-decoration: none;
  overflow: hidden;
}

.post_thumbnail a img:hover {
  -webkit-animation: grow 1.5s ease-in-out forwards;
  animation: grow 1.5s ease forwards;
}

/* .post_text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
} */

.post_title {
  text-decoration: none;
  color: #428bca;
  font-size: var(--h3);
  font-weight: bold;
  display: block;
  padding: 5px 15px 0px 0px;
  direction: rtl;
  overflow: hidden;
  height: 80px;
}

.post_details {
  color: black;
  font-size: 1em;
  width: 100%;
  text-align: justify;
  direction: rtl;
  margin-top: 0px;
  padding: 1.1em 15px;
  overflow: hidden;
  height: 160px;
}

.post_info {
  justify-content: space-between;
  align-items: center;
  background-color: #ececec;
  height: 35px;
  font-size: 0.8em;
  width: 100%;
  padding: 0 20px;
}

.comments_num a {
  flex-direction: row-reverse;
  column-gap: 9px;
  color: #868686;
  font-size: var(--base-size);
  align-items: center;
}

@-webkit-keyframes grow {
  from {
    scale: 1;
    opacity: 1;
  }
  to {
    scale: 1.1;
    opacity: 0.8;
  }
}

@keyframes grow {
  from {
    scale: 1;
    opacity: 1;
  }
  to {
    scale: 1.1;
    opacity: 0.8;
  }
}
